.izquierda{
    text-align:left;
    width: 200px;
}
.derecha{
    text-align:right;
    width: 200px;
}
.centro{
    text-align: center;
    width: 200px;
}

.background-color
{
    color: aqua;
    text-align: center;
}